* {
    margin:0;
    padding:0;  
  }
  
  body {
    position: relative;
    font-family:cursive;
    font-size: 18px;
    background-color: #721046eb;
    color: #cac8d3;
  }
  
  header {
    display: flex;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3c2a7c;
    color: #cac8d3;
  }
  
  #ni {
    color: #e37edf;
  }

  h1,
  h2 {
    margin: 20px;
  }
  
  main {
    padding: 100px 0;
  }
  
  li {
    display: inline-flex;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #cac8d3;
  }
  
  #myname {
    font-size: 50px;
    text-align: center;
  }

  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #d760d3;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #4F4846;
    color: #c907a8;    
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #d760d3;
    background-color: #3c2a7c;
  }
  
  form {
    margin: 0 auto;
    width: 400px;
    padding: 5px;
    border: 5px solid #d760d3;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
    
  input, 
  textarea {
    box-sizing:border-box;
    width: 300px;
    border: 1px solid #808080;
    margin-right: 100px;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
    
  button {
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: #808080;
    color: #FDF8F5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
   
  .text-center {
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .text-right {
    text-align:center;
  }
  
  #name,
  #email {
    width: 150px;
  }
  .project1 {
    display:flex;
    flex-direction: column;
    width: 50%;
    float: left; 
    padding-top: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  .project2 {
    display:flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }


  @media screen and (max-width: 768px) {
    a {
    color:  #42b72a;
    }
  }

  